/************variables**********/
$white_Color:#fff;
$yellow_Color: yellow;
$navBg_Color : black;




/**********navbar************/

.logoImg{
    border: 2px solid $yellow_Color;
    border-radius: 50%;
}

.navbar-dark .navbar-brand{
    color: $white_Color;
}

.nav-link {
    font-size: 18px;
    color: $white_Color;
}
.navbar-dark .navbar-nav .nav-link {
    color: $white_Color;
}

.nav-link:hover{
    border-top: 3px solid $yellow_Color ;

}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

@media only screen and (max-width: 760px){
    #nav{
        background-color: $navBg_Color !important;
    }
}


/************text over Img**************/
html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("../media/daniel-apodaca-WdoQio6HPVA-unsplash.jpg"),no-repeat center center fixed;
    background-size: cover;
}


.textCont{
    top: 50%;
}


.MainText{
    color: $yellow_Color;
}

.btn-outline-light:hover{
    background-color: $yellow_Color;
    outline: none;
    border: none;
}
.mb-2, .my-2 {
    margin-bottom: 0.5rem!important;
    margin-top: 60%;
}



/***************Sidetext**************/

.sideText1{
    padding: 100px 0 0 0 ;
    // margin: 150px 0 0px 0 ;
}


.sideText1 img{
    height: 80%;

}

.sideText1 i span{
    font-size: 24px;
    margin-left:10px;
    
}

@media only screen and (max-width: 760px){
    .sideText1{
        padding: 100px 0 200px 0;
    }
    .sideText1 img {
    height: 70%;
    width: 100%;
    }
    .sideText1 i{
        font-size: 30px;
    }
    .sideText1 i span{
        font-size: 18px;
        margin-left:10px;
    }

}

.sideText1 p{
    font-size: 18px;
    text-align: left;
}

.sideText1 i{
    margin: 10px;
    background-color: $yellow_Color;
    background-size: cover;
    border-radius: 10px;
    border: 5px solid $yellow_Color; 
}
 /************service*****************/

 .contentTextCont{
     margin:0px 0;
 }
 
.serviceDiv{
    background-image: url(../media/pexels-li-sun-2294361.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
 .serviceDiv h3{
     margin-top: 30px;
     width: 30px;
     margin-bottom: 30px;
     color: $white_Color;
 }

 .serviceTable{
     padding: 10px;
     text-align: center;
    //  border-left: 10px solid $yellow_Color;
     border-radius: 10px;
     color: $white_Color;
 }

 .serviceTable i:hover{
    color: $yellow_Color;
 }


 /***************program*********/
 .btn-primary {
    color: #fff;
    background-color: $navBg_Color;
    border-color: $navBg_Color;
    color: $white_Color;
}

.cardCont{
    margin:60px 0 ;
    padding: 10px;
    background-color: $navBg_Color;
}
.cardCont h3{
    color: $yellow_Color;
    text-align: center;
    font-size: 70px;
    // background: $yellow_Color;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;

}
.card{
    background-color: $yellow_Color;
    color: $navBg_Color;
    padding: 20px;
    margin-top: 30px;
}
 
/*************Footer*********/
footer{
    background-color: $navBg_Color;
}

footer h5{
    color: $white_Color;
}

footer p{
    color: $white_Color;
}

a {
    color: $yellow_Color;
    text-decoration: none;
    background-color: transparent;
}


